<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtpv.info.bdv.biodriververification">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <application
        android:name=".GlobalPool"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Act_BTDiscovery" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Welcome"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Registration" />
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".MenuBorad" />
        <activity android:name=".Document_verification" />
        <activity android:name=".Zoom_Activity" />
        <activity
            android:name=".Next_ScreenActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Person_FPS" />
        <activity android:name=".Printpreview" />
        <activity android:name=".update.Update_FPS" />
        <activity android:name=".update.moduleicon_Activity" />
        <activity android:name=".update.RenewalFPS_Activity" />
        <activity android:name=".update.Renewal_Print"></activity>
    </application>

</manifest>